@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-primary: #4F46E5;
  --color-primary-light: #818CF8;
  --color-primary-dark: #3730A3;
  --color-accent: #06B6D4;
  --color-accent-light: #67E8F9;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
